body {
    display: flex;
    justify-content: center;
}

.em {
    font-weight: bold;
}

#content {
    display: none;
    justify-content: center;
    flex-direction: column;
}

a.hoverTooltip {
    border-bottom: 1px dashed;
    text-decoration: none
}
a.hoverTooltip:hover {
    position: relative
}
a.hoverTooltip span {
    display: none
}
a.hoverTooltip:hover span {
    background-color: #ffffff;
    color: #000000;
    border: #000000 1px solid;
    padding: 5px 20px 5px 5px;
    display: flex;
    z-index: 100;
    left: 20px;
    margin: 10px;
    width: max-content;
    position: absolute;
    top: 10px;
    text-decoration: none;
    white-space: pre-line;
}