body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* https://images.unsplash.com/photo-1494537604714-7975224eea63?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=d-a-v-i-d-s-o-n-l-u-n-a-yOzIE5VTEpo-unsplash.jpg&w=1920 */
/* background #FFCC66 url("butterfly.gif") no-repeat fixed 50% 50%;
/* [background-color] | [background-image] | [background-repeat] | [background-attachment] | [background-position] */
/* p {
		font: italic bold 30px arial, sans-serif;
	}
*/

h3.highlight {
    font-size: 20px;
}

.em {
    font-weight: bold;
}

.logo {
    height: 2em;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 3em;
    margin: 0;
    list-style-type: none;
    border-bottom: #A30F33 0.1em solid;
}

.menu > *{
    display: flex;
    align-self: center;
}

.menu button {
    background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    color: inherit;
    background-color: #ffffff; 
    border: none;
    text-decoration: inherit;
    padding: 1em 1em 0.9em 1em;
    margin-bottom: 0.2em;
}

.menu button:hover {
    background-color: #e7e7e7;
    border: none;
}

.menu button:active {
    border: none;
}

i {
    margin-top: 5em;
}

i:hover {
    font-weight: bolder;
}

#content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

#page {
    display: flex;
    align-self: center;
    flex-direction: column;
}

#headline {
    background-color: #e8e8e8;
    border-radius: 20px;
    padding: 20px;
}

#midline {
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 20px;
}

a.hoverTooltip {
    border-bottom: 1px dashed;
    text-decoration: none
}
a.hoverTooltip:hover {
    position: relative
}
a.hoverTooltip span {
    display: none
}
a.hoverTooltip:hover span {
    background-color: #ffffff;
    color: #000000;
    border: #000000 1px solid;
    padding: 5px 20px 5px 5px;
    display: flex;
    z-index: 100;
    left: 20px;
    margin: 10px;
    width: max-content;
    position: absolute;
    top: 10px;
    text-decoration: none;
    white-space: pre-line;
}

a:not(:last-of-type):after {
    content: ',';
}
