<div id="content" class="ms-Fabric ms-font-m">
        <h1>How rental cost relate to income & homelessness</h1>
        <div id="chart"></div>
        <div id="context">Each additional 100 Euro on rent for a current rent of <select id="select-current-rent"></select> knocks
            <span id="data-knocked-people">XXX</span> out of the market </div>
</div>