
    <div id="content" class=" ms-Fabric ms-font-m">
        <h1> Cost of Homelessness in Ireland overtime</h1>
        <div id="chart"></div>
        <div id="context">Following these trends, if nothing is done to change them, the cost of homelessness will reach
            <span id="data-predicted-cost">XXX</span> by <span id="data-predicted-year">20XX</span></div>
    </div>