<ul class="menu ms-Fabric">
    <img class="logo" src="assets/threshold-logo.jpg" alt="Threshold logo">
    <li><button onclick="showPage('Home')">The Real Cost of Homelessness</a></li>
    <li><button onclick="showPage('rentalCost')">Rental Cost → Homelessness</a></li>
    <li><button onclick="showPage('rentOverIncome')">Rent vs income</a></li>
</ul>