<ul class="menu ms-Fabric">
    <img class="logo" src="assets/threshold-logo.jpg" alt="Threshold logo">
    <li><button onclick="Handlebars.showPage(PAGE_HOME)">The Real Cost of Homelessness</a></li>
    <li><button onclick="Handlebars.showPage(PAGE_RENTAL_COST)">Rental Cost → Homelessness</a></li>
    <li><button onclick="Handlebars.showPage(PAGE_RENT_OVER_INCOME)">Rent vs income</a></li>
</ul>