<ul class="menu ms-Fabric">
    <img class="logo" src="assets/threshold-logo.jpg" alt="Threshold logo">
    <li><button onclick="showPage('Home')">Home</a></li>
    <li><button onclick="showPage('costOvertime')">Homelessness Cost overtime</a></li>
    <li><button onclick="showPage('costRental')">Rental Cost & Homelessness</a></li>
</ul>